[submodule "style"]
	path = style
	url = https://github.com/BPA-CSIRO-Workshops/btp-handout-style.git
[submodule "050_ngs-qc"]
	path = 050_ngs-qc
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-qc.git
[submodule "060_alignment"]
	path = 060_alignment
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-mapping.git
[submodule "905_post-workshop"]
	path = 905_post-workshop
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-nectar.git
[submodule "orchestration"]
	path = orchestration
	url = https://github.com/BPA-CSIRO-Workshops/btp-orchestration.git
#new sub-modules
[submodule "080_cnv"]
	path = 080_cnv
	url = https://github.com/tsonika/cancer_cnv.git
[submodule "090_sv"]
	path = 090_sv
	url = https://github.com/tsonika/cancer_sv.git
[submodule "091_somatic"]
	path = 091_somatic
	url = https://github.com/tsonika/cancer_somatic_analysis.git
[submodule "070_snv"]
	path = 070_snv
	url = https://github.com/tsonika/cancer_variant_calls.git
