[submodule "style"]
	path = style
	url = https://github.com/BPA-CSIRO-Workshops/btp-handout-style.git
[submodule "050_ngs-qc"]
	path = 050_ngs-qc
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-qc.git
[submodule "060_alignment"]
	path = 060_alignment
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-mapping.git
[submodule "905_post-workshop"]
	path = 905_post-workshop
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-nectar.git
[submodule "orchestration"]
	path = orchestration
	url = https://github.com/BPA-CSIRO-Workshops/btp-orchestration.git
#[submodule "070_cnv"]
#	path = 070_cnv
#	url = https://github.com/BPA-CSIRO-Workshops/btp-module-cancer-cnv.git

